{% load static %}

<html>

<head>
    <title>Video Collection</title>
    {% comment %} Automatic light/dark theme {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>

{% block content %}
{% endblock content %}

<hr>

{% comment %} Urls from video_collection urls.py {% endcomment %}
<div class="navigation">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'video_list' %}">Video List</a>
    <a href="{% url 'add_video' %}">Add Video</a>
</div>

</body>

</html>