/* body {
background-color: mintcream;
} */

/* Add margin around the navigation so we can find it */

.navigation {
    margin: 10px;
}

.navigation > a {
    color: limegreen;
    padding-right: 30px;
}